<header class="startup text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-12 my-auto">
                <p1 id="title">
                    Listings
                </p1>

                <div id="property-view"></div>
                <!-- Find a rental address -->
  <form id="property-form" action="/testRoute" method="POST">
    <label for="property-input">City</label>
    <input type="text" id="city-input" name="city">
    <br>
    <label for="property-input">State</label>
    <input type="text" id="state-input" name="state">
    <br>
    <label for="property-input">zipcode</label>
    <input type="text" id="zip-input" name="zipcode">
    <br>
    <input id="find-property" type="submit" value="Property Search"> 
    </form>
<div id="gifs-appear-here">
            </div>


        </div>
    </div>
    </div>

</header>